.title {
  text-align: center;
}

.map {
  min-width: 800px;
  min-height: 400px;
}

.button_submit {
  height: 40px !important;
  padding: 0px 20px !important;
  border-radius: 4px !important;
  font-size: 15px !important;
  background-color: #5b4efd !important;
}

.button_submit:hover {
  transition: all 0.3s ease-out !important;
  background: #fff !important;
  color: #6568F4 !important;
  transition: 250ms !important;
}
